# Default ignored files
/shelf/
/workspace.xml
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
#IDE files
/workplace.xml
/modules.xml
/misc.xml
/Project-template.xml
/vcs.xml

