# Default ignored files
/shelf/
/workspace.xml
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
#IDE files
.idea/workplace.xml
.idea/modules.xml
.idea/misc.xml
.idea/Project-template.xml
.idea/vcs.xml

